<h1> <i class="far fa-eye"></i> Ver Equipos</h1>
<table datatable class="table table-striped table-responsive-md btn-table">
  <thead>
  <tr>
     <td>Placa_Inventario</td>
 <td>Nombre</td>
 <td>Descripcion</td>
 <td>Codigo_QR</td>
 <td>Ubicacion</td>

    <td >Acciones</td>
  </tr>
  </thead>

  <tbody>
     
           <tr *ngFor="let equipos of equipos">
<td>{{ equipos.Placa_Inventario}}</td>
<td>{{ equipos.Nombre}}</td>
<td>{{ equipos.Descripcion}}</td>
<td>{{ equipos.Codigo_QR}}</td>
<td>{{ equipos.Ubicacion}}</td>
<td><a [routerLink]="['edit', equipos._id]" class="btn btn-primary"><i class="far fa-edit"></i></a>&nbsp;&nbsp;<a (click) = "deleteEquipos(equipos._id)" class="btn btn-danger"><i class="far fa-trash-alt"></i></a></td>
         
      </tr>
  </tbody>
</table>
